
@font-face {font-family: "mmp-iconfont";
  src: url('iconfont.eot?t=1497261088484'); /* IE9*/
  src: url('iconfont.eot?t=1497261088484#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497261088484') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497261088484') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497261088484#mmp-iconfont') format('svg'); /* iOS 4.1- */
}

.mmp-iconfont {
  font-family:"mmp-iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before { content: "\e607"; }

.icon-youxiang:before { content: "\e624"; }

.icon-wenhao:before { content: "\e65e"; }

.icon-xingxing:before { content: "\e6aa"; }

.icon-xunhuan:before { content: "\e64a"; }

.icon-fanhui:before { content: "\e600"; }

.icon-close:before { content: "\e6e9"; }

.icon-other:before { content: "\e714"; }

.icon-share_fill:before { content: "\e729"; }

.icon-jiantou:before { content: "\e602"; }

.icon-wujiaoxing-shi:before { content: "\e603"; }

.icon-liuliang:before { content: "\e604"; }

.icon-touxiang:before { content: "\e601"; }

.icon-kefu:before { content: "\e606"; }

.icon-touxiang-info:before { content: "\e605"; }

