a{
    color: red
}
.b{
    color: #000;
}
.button-box{
    padding: 30px;
}
.test-box{
    padding-left: 20px;
}
.test-box input{
    line-height: 30px;
    height: 30px;
    border: red 1px solid
}
.body-box {
    padding: 20px;
}
