$content-width: 410px;
$content-input-width: 344px;
$content-input-height: 40px;
$title-width: 260px;
$content-input-color: #999;
$content-input-bg: #fcfcfc;
$content-input-border-bg: #d9d9d9;
$content-input-focus-boder: #0498f4;
$content-h2-font: 18px;
$content-h2-color: #333;
$content-h5-font: 12px;
$content-h5-color: #666;
$content-link-color: #007ee5;
$content-link-font: 12px;
$btn-bg:#0498f4;
$login-float-btn-width :126px;
$error-bg: #ef4e52;
$hint-color: #ff3434;
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.loginbox-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.index-page {
    display: table-cell;
    vertical-align: middle;
    background: url('../../../assets/img/home-bg.png') no-repeat center 70%;
    animation-duration: 1.2s;
    background-attachment: fixed;
    &.bgnone {
        background: none;
    }
    .title {
        width: $title-width;
        height: 68px;
        line-height: 68px;
        margin: 0 auto 16px auto;
        .s-logo {
            font-size: 40px;
            color: #0498f4;
            margin-left: 56px; // 抗锯齿
            -webkit-font-smoothing: antialiased;
        }
        .s-logo-text {
            // vertical-align: middle;
            font-size: 20px;
            margin-left: 8px;
            -webkit-font-smoothing: antialiased;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.content {
    box-sizing: border-box;
    width: $content-width;
    margin: 0 auto;
    padding: 22px 33px;
    // box-shadow: 0 0 5px 4px #ddd;
    border: 1px solid #ddd;
    z-index: 10;
    h2 {
        margin-bottom: 34px;
        font-size: $content-h2-font;
        color: $content-h2-color;
        font-weight: 500;
        letter-spacing: 1.5px;
        text-align: left;
    }
    h5 {
        font-size: $content-h5-font;
        color: $content-h5-color;
        margin: 12px 0 10px 0;
        letter-spacing: .24px;
        text-align: left;
    }
    input {
        width: $content-input-width;
        height: $content-input-height;
        line-height: $content-input-height;
        font-size: 14px;
        color: $content-input-color;
        padding-left: 10px;
        border-radius: 4px;
        border: 1px solid $content-input-border-bg;
        background-color: $content-input-bg;
        &.error {
            border-color: $error-bg;
        }
        &:focus {
            border-color: $content-input-focus-boder;
        }
    } // 隐藏掉ie下默认的快速清除和切换密码明文密文图标
    input::-ms-clear {
        display: none;
    }
    input[type="password"]::-ms-reveal {
        display: none;
    }
    input.check {
        float: left;
        margin-top: 3px;
        opacity: 0; // 兼容ie8
        filter: alpha(opacity=0);
        height: 0;
        &+label {
            float: left;
            height: 20px;
            line-height: 20px;
        }
    }
    a {
        color: $content-link-color;
        font-size: $content-link-font;
    }
}

.hint {
    font-size: 12px;
    color: $hint-color;
    margin-top: 6px;
    display: none;
    text-align: left;
    transition: .5s ease-in;
}

.btn_hint {
    margin: 20px 0 -20px 0;
}

button.disable {
    background-color: #ebebeb;
    color: #666;
    border-color: #d9d9d9;
}

.login-btn {
    width: 100%;
    line-height: $content-input-height;
    margin: 25px auto;
    display: inline-block;
    border-radius: 4px;
    background-color: $btn-bg;
    outline: none;
    border: none;
    color: #fff;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    transition: all .25s linear;
    &:hover {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
    }
}

.hover-btn {
    &:hover {
        background-color: #0d79d1;
    }
}

.login-float-btn {
    width: $login-float-btn-width;
    float: right;
    margin: 0;
}

.authCode {
    overflow: hidden;
    input {
        float: left;
        width: 212px;
    }
    img {
        float: right;
        width: 100px;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 4px;
        &:hover {
            cursor: pointer;
        }
    }
    p.hint {
        float: left;
    }
}

.verify {
    overflow: hidden;
    input {
        float: left;
        width: 212px;
    }
    img {
        float: right;
        width: 100px;
        height: 40px;
        cursor: pointer;
    }
    button {
        width: 126px;
    }
}

p.copyright {
    // position: absolute;
    // left: 0;
    // right: 0;
    // bottom: 20px;
    // margin-left: -200px;
    // width: 400px;
    // height: 40px;
    line-height: 40px;
    color: #aaa;
    font-size: 14px;
    text-align: center;
    // z-index: 1;
    .cp-icon {
        display: inline-block;
        vertical-align: text-bottom;
        width: 40px;
        height: 25px;
        margin-right: 10px;
        background: url('../../../assets/img/survey-answer-logo.png') no-repeat center -16px;
    }
}

.home-password,
.password {
    position: relative;
}

.home-pwd-icon,
.pwd-icon {
    position: absolute;
    top: 48px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    &:hover {
        cursor: pointer;
    }
}

.pwd-icon {
    top: 30px;
}

.s-remember-no {
    color: #aaa;
    margin-right: 4px;
    font-size: 14px;
}

.s-remember {
    color: $btn-bg;
    margin-right: 4px;
    font-size: 14px;
}

.auto {
    overflow: hidden;
    &>a {
        float: right;
        height: 20px;
        line-height: 20px;
    }
}

.forget h5 {
    float: left;
}

.forget a {
    float: right;
    margin: 12px 0;
}

$btn-group-btn-width: 160px;
.btn-group {
    overflow: hidden;
    button {
        float: left;
        width: $btn-group-btn-width;
        &:last-child {
            float: right;
            color: #333;
            border: .5px solid #b9b9b9;
            background-color: #fff;
        }
    }
}

.agree-box {
    overflow: hidden;
    .agreement {
        label {
            font-size: 12px;
            a {
                text-decoration: underline;
            }
            .icon {
                vertical-align: -4%;
            }
        }
        input {
            margin: 3px 4px 0 0;
            float: left;
            box-sizing: content-box;
            border: none;
        }
    }
    &>a {
        float: right;
        display: block;
        height: 20px;
        line-height: 20px;
    }
}

.verify {
    img {
        border: 1px solid #ddd;
    }
}

.change {
    p {
        float: left;
        line-height: 20px;
    }
    a {
        display: block;
        height: 20px;
        line-height: 20px;
        text-align: right;
    }
}

.agree-content {
    max-width: 1080px;
    margin: 40px auto 0 auto;
    padding: 18px 67px 31px 54px;
    background-color: #fff;
    h2 {
        font-size: 20px;
        color: #333;
        margin: 18px 0;
    }
    .split {
        width: 100%;
        height: 1px;
        color: #ddd;
    }
    p,
    ul,
    li {
        color: #666;
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 150%;
    }
    li {
        margin: 15px;
    }
    .indent {
        text-indent: 2em;
    }
}

.agreement-page {
    background: #efeff2;
    .survey-header {
        height: 60px;
    }
    .agreement-copyright {
        width: 400px;
        margin: 42px auto 38px auto;
        height: 40px;
        line-height: 40px;
        color: #aaa;
        text-align: center;
        background: url('../../../assets/img/survey-answer-logo.png') no-repeat 0% 9%;
    }
}