.login-title{
	text-align: center;
	color: #416D90
}
.login-box{
	text-align: center;
	padding: 30px;
}

/*登录弹框*/
.dialog{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dialog-overlay{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 1100;
	background-color: #000; 
	opacity: 0.5; 
	filter: alpha(opacity=50); 
}
.dialog-box{
	position: absolute;
    top: 200px;
    left: 26%;
    z-index: 1105;
    margin: 0 auto;
    width: 48%;
    height: 56%;
    background: #fff;
    background-size: cover;
    text-align: center;
}
.dialog-close{
    position: absolute;
    right: 15px;;
    top: 15px;
    color: #ccc;
	padding: 5px;
}
.dialog-inbox{
	padding: 50px 0 20px;
}
.dialog-footer{
	position: absolute;
    right:0;
	left: 0;
    bottom: 0;
	height: 40px;
    text-align: center;
}